<div class="container" id="myCabinetDiv">

<div class="container js-my-cabinet" >
    
    <div class="modal-favorites">
        <button type="button" class="left-button" data-left>
            <span class="material-icons">
                chevron_left
            </span>
        </button>
        <h2 class="text">МОЇ ОГОЛОШЕННЯ</h2>
        <button type="button" class="right-button" data-right>
            <span class="material-icons">
                chevron_right
            </span>
        </button>
    </div>
    <div class="my-goods-hbs my-cabinet-flex"></div>
    </div>





<!-- <include src="./partials/favorites.html"></include> -->
<!-- <div class="favorites-hbs"> -->
    <div class="container">
        <div class="modal-favorites">
            <button type="button" class="left-button" data-left>
                <span class="material-icons">
                    chevron_left
                </span>
            </button>
            <h2 class="text">ОБРАНЕ</h2>
           
            <button type="button" class="right-button" data-right>
                <span class="material-icons">
                    chevron_right
                </span>
            </button>
        </div>
        <div class="favorites-hbs my-cabinet-flex"></div>
        </div>
    </div>
