$bg-color: #e5e5e5;
$container-color: #f5f6fb;
$border-color: #e2e3e5;
$text-color: black;
$backdrop-bg-color: rgba(0, 0, 0, 0.5);

$accentColor: #ff6b09;
$main-text-color: #979797;
$mail-title-color: #2a2a2a;
$primaryWhiteColor: #ffffff;
$placeHolderColor: #ffffff;
$cubicBezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$title-font: 'Montserrat', sans-serif;
$main-font: 'Roboto', sans-serif;

$mobile: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
$desktop: 1200px;
$desktop-max: 2400px;
