<section id="remove-pl" class="container section-border">
  <nav class="categories-container">
    <!-- Кнопка меню на планшетном варианте верстки -->
    <button type="button" class="nav-menu-btn js-menu-btn-tablet">
      <svg width="15px" height="10px">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- Список категорий для десктопа -->
    <ul class="categories js-categories-list">
      <li class="categories-item">
        <a href="" id="transport" data-category="property" class="category-it">Нерухомість</a>
      </li>
      <li class="categories-item category-it">
        <a href="" id="transport" data-category="transport" class="category-it">Транспорт</a>
      </li>
      <li class="categories-item category-it">
        <a href="" id="work" data-category="work" class="category-it">Робота</a>
      </li>
      <li class="categories-item category-it">
        <a href="" id="electronics" data-category="electronics" class="category-it">Електроніка</a>
      </li>
      <li class="categories-item category-it">
        <a href="" id="business and services" data-category="businessAndServices" class="category-it">Бізнес та
          послуги</a>
      </li>
      <li class="categories-item category-it">
        <a href="" id="recreation and sport" data-category="recreationAndSport" class="category-it">Відпочинок і
          спорт</a>
      </li>
      <li class="categories-item category-it">
        <a href="" id="free" data-category="free" class="category-it">Віддам безкоштовно</a>
      </li>
      <li class="categories-item category-it">
        <a href="" id="trade" data-category="trade" class="category-it">Обмін</a>
      </li>
    </ul>

    <!-- Кнопка очистить фильтры -->
    <a href="/index.html" class="discard-filters">
      <svg class="discard-filters-icon" width="20px" height="16px">
        <use href="./images/sprite.svg#icon-suffix"></use>
      </svg>
      Очистити фільтри
    </a>
  </nav>
</section>