
<div class="card-modal-body is-hidden is-open " data-advent-open>
		<!-- <p style="background-color: red; margin: 0;">class="card-modal-body is-open"</p> -->


	<div class="backdrop- card-modal__overlay- backdrop-st-p- is-hidden-">

			<div class="card-modal">
				<button class="card-modal__close-btn" type="button">
					<span class="material-icons card-modal__icon-close">close</span>
				</button>

				<div class="card-modal__image-wraper">
					<img class="card-modal__image-big" src="" alt="card-image" />
					<ul class="card-modal_tumbnails-list">
						<li class="card-modal__tumbnails-item is-selected">
							<img src="" alt="" class="card-modal__image-tumbnail" />
						</li>
						<li class="card-modal__tumbnails-item">
							<img src="" alt="" class="card-modal__image-tumbnail" />
						</li>
						<li class="card-modal__tumbnails-item">
							<img src="" alt="" class="card-modal__image-tumbnail" />
						</li>
						<li class="card-modal__tumbnails-item">
							<img src="" alt="" class="card-modal__image-tumbnail" />
						</li>
						<li class="card-modal__tumbnails-item">
							<img src="" alt="" class="card-modal__image-tumbnail" />
						</li>
					</ul>
				</div>
				<div class="card-modal__info-container">

					 <div class="card-modal__heading-wrapper">
          				<h2 class="goods-modal__title">Футболка спортивна</h2>
          				<p class="goods-modal__text cont">
							  <span>Код товару |</span>
							  <span class="goods-modal__code">105-С</span>
						</p>
        			</div>					
					
					<h2 class="goods-modal__price">200.00 uah</h2>
					<div class="goods-modal__info">
						<ul class="js-button"></ul>

						<button class="js-goodsSellersInfo"><span class="js-goodsSellersInfo-title is-hidden-">Информация о продавце</span>
							<div class="js-goods-modal__button-underinfo is-hidden">
								<p class="goods-modal__title">
								Ольга
									<span class="goods-modal__text card-modal__insert"> - на OLX c <span class="">нояб. 2018</span></span>
								</p>
								<a class="phone-title" href="tel:+380961111111">
									<span  class="phone-title__span" >+38 000 000 00 00</span>								
									<span class="material-icons md-15 cards__icons icon-phone">
											icon-phone
									</span>
								</a>						
							</div>
						</button>
						
					</div>
					<ul class="card-modal__like-share">
						<li>
							<button class="goods-modal__item card-modal__like">
								<p class="goods-modal__text like-share-text">В обране</p>
									<span class="material-icons md-15 cards__icons">
								favorite_border
									</span>
							</button>
						</li>
						<li>
							<button  class="goods-modal__item card-modal__share">
								<p class="goods-modal__text like-share-text">Поділитися</p>
									<span class="material-icons md-15 cards__icons">
								share
									</span>
							</button>
						</li>
					</ul>
					<p class="goods-modal__text discription-title">Опис:</p>
					<p class="goods-modal__discription-text">
						<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nesciunt. Unde a quos eum
							labore vero totam doloribus, odio assumenda, aut nostrum porro quibusdam explicabo beatae
							nihil dolorem incidunt. Hic?
						</span>
					</p>
				</div>
			</div>
		
	</div>


</div>