

<div class="container">
<div class="container-pagination">
  <div class="pagination-div">

  </div>
</section>
<section class="section-btn ">
  <ul class="navbar-nav pagination-btn all-button">
    <li class="pagination-catigories-btn">
      <a  class="active work-button" id="init-btn" data-category ="/" href="">1</a>
    </li>
    <li class=" pagination-catigories-btn">
      <a class="work-button" data-category ="/page2" href="">2</a>
    </li>
    <li class=" pagination-catigories-btn">
      <a class="work-button" data-category ="/page3" href="">3</a>
    </li>
  </ul>

  <!-- <div class="container">
    <nav class="pagination">
      <ul class="all-button">
        <li class="number-button"><button type="button" class="work-button">1</button></li>
        <li class="number-button"><button type="button" class="work-button">2</button></li>
        <li class="number-button"><button type="button" class="work-button">3</button></li>
      </ul>
    </nav>
  </div> -->
</section>
</div>
<footer>
  <div class="section-footer">
    <div class="footer-container">
      <span class="copy">&copy;</span>
      <span>2019</span>
      <span class="reserved">All Rights Reserved</span>
      <span>Developed with&nbsp;</span>
      <span class="head">&#10084;</span>
      <span>&nbsp;by <a href="http://goit.ua" target="_blank">GoIT Students</a></span>
    </div>
  </div>
</footer>