<div class="container">
    <div class="backdrop is-hidden js-backdrop" data-modal>
        <div class="modal">
            <button class="buttons close-button-search" data-modal-close>
                <svg width="24" height="24" class="close-button-icon">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <form class="modal-form js-search-modal-form" autocomplete="off">
                <label class="modal-form-field">
                    <input
                        type="text"
                        name="name"
                        class="modal-form-input"
                        placeholder="ПОШУК"
                        id="searchInput"
                    />

                    <button
                        id="btnSearchMod"
                        type="submit"
                        class="button-search"
                    >
                        <svg width="24" height="24" class="modal-icon">
                            <use
                                href="./images/sprite.svg#icon-search-form-white"
                            ></use>
                        </svg>
                    </button>
                </label>
            </form>
        </div>
    </div>
</div>
